

  <ion-card>
    <ion-card-content>
      <ion-text>
        <h1>Círculo</h1>
      </ion-text>
        
      <ion-text color="medium">
        <h2>Perímetro</h2>
      </ion-text>

      <ion-grid>

        <ion-row>

          <ion-col size="12">
            <p>
              El perímetro de un círculo es la longitud de la línea que forma su borde.
            </p>
          </ion-col>
            <br>
          <ion-col>
            <p style="color: red;">
              <b>Donde:</b><br>
              <b>P:</b> perímetro<br>
              <b>d:</b> diámetro<br>
              <b>r:</b> radio del círculo<br>
              <b>π:</b> 3.1416
            </p>
          </ion-col>

          <ion-col size="6">
            <ion-img src="assets/img/imgpcirculo.png" alt="Perímetro del círculo"></ion-img>
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card-content>

    </ion-card>

    <ion-card-content>

      <ion-list lines="none">
        <ion-item>
          <ion-input [(ngModel)]="radioStr" type="number" label="Radio (cm)" label-placement="floating" fill="solid" placeholder="Ingrese el radio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button (click)="calcularPerimetro()">Calcular el perímetro</ion-button>
        </ion-item>

        <ion-item *ngIf="mostrarResultado">
          {{resultado}}
        </ion-item>
      </ion-list>

    </ion-card-content>

